@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*altura total 100vh 100 view height*/
    width: 100vw; /*largura total 100vw view width*/
    background-color:black
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute; /*aqui é mostrado como centralizar algo no meio da tela*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
    /*
    usando position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    */
}
 iframe#tela {
    position: relative;
    top: 80px; /*borda do topo*/
    left: 22px; /*borda da esquerda*/
    width: 269px;
    height: 471px;
 }